/*index.css*/

@import url('https://fonts.googleapis.com/css?family=Sofia|Open+Sans+Condensed:300');

body {
  font-family: 'Sofia', cursive;
  margin: 20px;
  background: #bababa;
  /*background: #dfecf6;*/
}

.image {
    float: right;
    align-items: right;
  }

.welc{
  color:  black;
  display: block;
  font-size: 50px;
  text-align: center;
  margin: 20px;
  font-weight: bold;
  font-family: 'Sofia', cursive;
}

.nav-item {
  font-size: 1.5em;
}

.info{
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  font-size: 45px;
  text-align: center;
}
.head{
	/*background-color: pink;*/
  color: black;
	font: 25px "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  margin: 20px;
}

.paragraph{
  font: 20px "Comic Sans", sans;
  margin: 30px;
}

.icon {
  padding-left: 10px;
}

.foot{
  float: right;
  font-family: 'Open Sans Condensed', sans-serif;
	font-size: 15px;
  font-weight: initial;
  margin: 20px;
}

.bottom{
  font: 15px "Comic Sans", Futura, sans-serif;
  font-weight: initial;
}