/*index.css*/

@import url('https://fonts.googleapis.com/css?family=Sofia|Open+Sans+Condensed:300|Cabin');

body {
  font-family: 'Sofia', cursive;
  margin: 20px;
  background: #bababa;
  /*background: #dfecf6;*/
}

.disneypic {
 border-radius:30px;
}

.pic-container {
  /*display: block;
  text-align: center;
  max-height: 450px;
  max-width: 900px;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  margin-top: 20px;
  float: left;
}

.welc{
  color:  black;
  display: block;
  font-size: 50px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: bold;
  font-family: 'Sofia', cursive;
}

.nav-item {
  font-size: 1.5em;
}

.navbar{
  background-color: black;
}

.info{
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  font-size: 45px;
  text-align: center;
}
.head{
	/*background-color: pink;*/
  color: black;
	font: 25px "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  margin: 20px;
}

.paragraph{
  font: 20px 'Cabin', sans-serif;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.paragraph2{
  font: 20px 'Cabin', sans-serif;
  float: left;
  margin-right: 10px;
}

.visit{
  float:right;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.foot{
  float: right;
  font-family: 'Cabin', sans-serif;
	font-size: 15px;
  font-weight: initial;
  margin-top: 100px;
  margin-bottom: 20px;
}

.subfoot{
  float: left;
  font-family: 'Cabin', sans-serif;
  font-size: 10px;
  color: white;
  margin-top: 100px;
  margin-bottom: 20px;
}

.bottom{
  float: left;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  font-weight: initial;
  margin-top: 100px;
  margin-bottom: 20px;
}