/*index.css*/

@import url('https://fonts.googleapis.com/css?family=Sofia|Open+Sans+Condensed:300');

body {
  font-family: 'Sofia', cursive;
  margin: 20px;
  background: #dfecf6;
}

.image {
    float: right;
    align-items: right;
  }

.welc{
  color:  black;
  display: block;
  font-size: 50px;
  text-align: center;
  margin: 20px;
  font-weight: bold;
}

.info{
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  font-size: 45px;
  text-align: center;
}
.head{
	/*background-color: pink;*/
  color: black;
	font: 25px "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  margin: 20px;
}

.paragraph{
  font: 20px "Comic Sans", sans;
  margin: 30px;
}

nav {
  margin: 0px;
  width: 100%;
  height: 70px;
  overflow: hidden;
  background: #81b6df;
  /*background: #a4c8f4;*/
}
nav a {
    display: block;
    float: left;
    text-align: center;

    font: 20px "Arial Black", Gadget, sans-serif;
    color: #4e548a;

   /*Padding Our Box*/
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

   
}
  nav a:hover {
        background-color: #7d95f7;
  }

.foot{
  float: right;
  font-family: 'Open Sans Condensed', sans-serif;
	font-size: 15px;
  font-weight: initial;
  margin: 20px;
}

.bottom{
  font: 15px "Comic Sans", Futura, sans-serif;
  font-weight: initial;
}