/*index.css*/

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: #367;
}

.head{
	background-color: pink;
	font: 50px "Century Gothic", Futura, sans-serif;
  	font-weight: bold;
  	margin: 20px;
}

.foot{
	background-color: pink;
	font: 15px "Century Gothic", Futura, sans-serif;
  	font-weight: initial;
  	margin: 20px;
}